.banner {
  height: 400px;
  width: 1000px;
  border-radius: 5px;
}

.contain {
  position: relative;
  text-align: -webkit-center;
  margin-top: 80px;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: #e5f9ffd1;
}
