.n.ncard-wrapper {
  max-width: 1200px;
  margin: 90px auto;
  padding: 20px;
}

.n .nhead {
  background-color: #e2f6ff;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.np-head {
  font-size: 20px;
  margin: 20px 0;
}

.hp {
  font-weight: 600;
  font-size: 25px;
  padding-top: 20px;
}

.nitem {
  display: flex;
  align-items: center;
}

.nimg {
  width: 300px;
}

.np {
  width: 460px;
  margin-left: 100px;
}
.n .list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.n .combo-item {
  flex-basis: calc(33.33% - 20px);
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.n .combo-item h2 {
  font-size: 20px;
  margin: 10px 0;
}

.n .combo-item p {
  font-size: 16px;
  line-height: 1.5;
  margin: 10px 0;
}

.n .combo-item img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
